/*_____scrollbar________________________________________________________________________________________________________*/
::-webkit-scrollbar-button { background-repeat: no-repeat; width: 0; height: 0; }
::-webkit-scrollbar-track { background-color: #ecedee; opacity: .5; }
::-webkit-scrollbar-thumb { border-radius: 50px; background-color: #949494; opacity: .5; }
::-webkit-scrollbar-thumb:hover { background-color: #2f4050; }
::-webkit-scrollbar { width: 5px; height: 5px; }
/*____________________________________________________________________________________________________________________*/

#root, #app, #dashboard {
    min-height: 100vh;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
}

a { cursor: pointer !important; user-select: none; }

.sidebar-user-material .sidebar-user-material-body {
    background: url(/img/bg1.jpg) center / cover no-repeat;
}

.bg-indigo {background-color: #004a91;}

.navbar-dark .navbar-nav-link {color: #dee26a;}

.ezi-lang-dropdown {
    min-width: 60px;

    .dropdown-content-body { padding: 5px; }
    .media {
        margin-top: 0.15rem; justify-content: center;
        &:hover { cursor: pointer; background: #ebebeb; }
    }
}

.uniform-checker, .uniform-choice {
    input:checked + span:after { opacity: 1; }
}

#noty_layout__topRight {top: 4.25rem;}


.form-check-label {
    input { display: none; }

    .switchery {
        transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;

        small {left: 0; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;}
    }

    input:checked + .switchery {
        background-color: rgb(100, 189, 99);
        border-color: rgb(100, 189, 99);
        box-shadow: rgb(100, 189, 99) 0 0 0 10px inset;

        small {left: 18px; background-color: rgb(255, 255, 255);}
    }
}

fieldset:first-child legend:first-child {
    padding-top: .625rem;
}

.pagination {
    display: flex;align-items: center;justify-content: center;padding: 20px 0;

    .pagination-link {
        border: 1px solid gray;border-radius: 3px;text-align: center;width: 30px;
        height: 30px;line-height: 30px;margin: 0 5px;transition: all .3s;

        &.active {background: dodgerblue;color: #fff;}
        &:hover {cursor: pointer;background: #ebebeb;}
    }
}

.uniform-uploader {justify-content: space-between;}
.input-file-review {height: 40px; width: auto; margin: 0 10px; border: 1px solid #e6e6e6;}
.nav-item { cursor: pointer; }
.uniform-uploader .action {margin-left: 0;}

.constructor {
    input[type="radio"], input[type="checkbox"] {
        vertical-align: middle; margin-right: 10px;
    }
    .form-group label { margin-bottom: 0; }

    .pro-form-block {
        border: 1px solid #ebebeb;
        padding: 10px;
        position: relative;

        .pro-btn-i {
            position: absolute; top: 10px;
            font-size: 10px; cursor: pointer;

            &.icon-pencil { right: 30px; color: #2495f3; }
            &.icon-bin { right: 10px; color: red; }
        }
    }
}

.registration-form { width: 700px; }
.pr-avatar { width: 80px; height: 80px; }

.pr-choice-table {
    cursor: pointer;

    tbody tr:hover, tr.a { background: #ebebeb; }
}

#constructor-modal, #constructor-preview-modal {
    display: block;
    background-color: rgba(0, 0, 0, .5);

    .modal-dialog { max-width: 800px; }
}
